{% extends 'index.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "ERROR 404" %} - PONGOWS{% endblock %}

{% block content %}
<div class="container win95-container">
    <div class="row justify-content-center">
        <div class="col-md-6 win95-box">
            <h2 class="title-bar text-center">{% trans "ERROR 404" %}</h2>
            
            <div class="tab-content">
                <div class="text-center">
                    <p>{% trans "NOT FOUND" %}</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
